<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.dream.swell.dao.DreamSwellDonateDAO">
	<!-- board의 idx에 해당하는 후원한 사람 주기 -->
	<select id="selectByBoardRef" parameterType="int" resultType="DreamSwellDonateVO">
	    SELECT
	        *
	    FROM
	        dreamswelldonate
	    WHERE
	        boardRef = #{boardRef}
	</select>
	
	<!-- User의 idx에 해당하는 후원한 사람 주기 -->
	<select id="selectByUserRef" parameterType="int" resultType="DreamSwellDonateVO">
		select * from dreamswelldonate where userRef = #{userRef} order by idx desc
	</select>
	
	<!-- 해당 유저의 후원 개수 -->
	<select id="selectCountByUserRef" parameterType="int" resultType="int">
		select
			count(*)
		from
			dreamswelldonate
		where
			userRef =#{userRef}
	</select>
	
	<!--  해당 board의 후원 개수 -->
	<select id="selectCountByBoardRef" parameterType="int" resultType="int">
		select
			count(*)
		from
			dreamswelldonate
		where
			boardRef =#{boardRef}
	</select>
	
	<!-- 후원하기 -->
	<insert id="insert" parameterType="DreamSwellDonateVO">
	    INSERT INTO
	    	dreamswelldonate (userRef ,boardRef ,donate ,content)
	    VALUES
	    	(#{userRef}, #{boardRef}, #{donate}, #{content})
	</insert>
	
	<!-- 후원 수정 -->
	<update id="update" parameterType="DreamSwellDonateVO">
		update dreamswelldonate set donate = #{donate}, content = #{content}, regDate = NOW() where idx = #{idx}
	</update>
</mapper>